:root {
    --thm-font: 'Poppins', sans-serif;
    --thm-font-2: 'Josefin Sans', sans-serif;
    --thm-primary-color: #E53E29;
    --thm-black: #071C1F;
    --thm-white: #ffffff;
}





/*== Btn One Css ======*/
.btn-box {
    position: relative;
    display: block;
}

.btn-one {
    position: relative;
    display: inline-flex;
    align-items: center;
    overflow: hidden;
    padding-top: 7px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 3px;
    background-color: transparent;
    color: var(--thm-black);
    font-size: 15px;
    line-height: 40px;
    font-family: var(--thm-font-2);
    font-weight: 500;
    border-radius: 0px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    z-index: 2;
}

.btn-one:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    transform: scaleX(1);
    transition-duration: 800ms;
    border: 1px solid var(--thm-black);
    z-index: -1;
}

.btn-one:hover:after {
    transform: scaleX(0);
    transition-duration: 1500ms;
}

.btn-one:before {
    position: absolute;
    top: 0px;
    left: -10px;
    bottom: 0;
    right: 100%;
    content: "";
    background: var(--thm-black);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    border-radius: 0%;
    transition-duration: 800ms;
    z-index: 1;
}

.btn-one:hover:before {
    right: 0px;
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.btn-one .txt {
    position: relative;
    display: inline-flex;
    align-items: center;
    white-space: nowrap;
    z-index: 1;
}

.btn-one:hover,
.btn-one:focus {
    color: #ffffff;
    -webkit-box-shadow: 2px 2px 20px 0px rgba(var(--thm-black-rgb), 0.1);
    -moz-box-shadow: 2px 2px 20px 0px rgba(var(--thm-black-rgb), 0.1);
    box-shadow: 2px 2px 20px 0px rgba(var(--thm-black-rgb), 0.1);
}

.btn-one i {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
    top: -3px;
    z-index: 1;
}

@media (max-width: 767.98px) {
    .btn-one .txt {
        font-size: 11px;
        white-space: nowrap;
        z-index: 1;
    }
}