
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}




/*=============== scrollbar-Css =============*/
::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: var(--thm-primary-color);
    border-radius: 0px;
}

::-webkit-scrollbar,
::-webkit-scrollbar {
    width: 10px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.311);
}

.xs-sidebar-widget::-webkit-scrollbar {
    width: 0px;
}




p {
    font-family: var(--thm-font);
    color: var(--thm-body-font-color);
    font-size: var(--thm-body-font-size);
    line-height: var(--thm-body-line-height);
    font-weight: var(--thm-body-font-weight);
    margin: 0;
}

a {
    color: var(--thm-black);
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.container {
    padding-left: 12px;
    padding-right: 12px;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1320px;
    }
}

.auto-container {
    position: static;
    max-width: 1320px;
    padding: 0px 12px;
    margin: 0 auto;
}

.row {
    --bs-gutter-x: 24px;
}

.gutter-y-30 {
    --bs-gutter-y: 24px;
}

section {
    position: relative;
    display: block;
    z-index: 1;
}





body.locked {
    overflow: hidden;
}

a,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 1;
}

::-ms-input-placeholder {
    color: inherit;
    opacity: 1;
}

::placeholder {
    color: inherit;
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--thm-black);
    font-family: var(--thm-font-2);
    font-weight: 700;
    margin: 0;
}



dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 1;
}

::-ms-input-placeholder {
    color: inherit;
    opacity: 1;
}

::placeholder {
    color: inherit;
    opacity: 1;
}

.fancybox-slide .fancybox-image-wrap {
    border-radius: 10px;
    overflow: hidden;
}


@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icomoon.eot?ppjndo');
  src:  url('assets/fonts/icomoon.eot?ppjndo#iefix') format('embedded-opentype'),
    url('assets/fonts/icomoon.ttf?ppjndo') format('truetype'),
    url('assets/fonts/icomoon.woff?ppjndo') format('woff'),
    url('assets/fonts/icomoon.svg?ppjndo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-envelope:before {
  content: "\e900";
}
.icon-pin:before {
  content: "\e901";
}
.icon-facebook-app-symbol:before {
  content: "\e902";
}
.icon-linked-in-logo-of-two-letters:before {
  content: "\e903";
}
.icon-twitter:before {
  content: "\e904";
}
.icon-pinterest:before {
  content: "\e905";
}
.icon-down-filled-triangular-arrow:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}
.icon-shopping-cart:before {
  content: "\e908";
}
.icon-search-interface-symbol:before {
  content: "\e909";
}
.icon-right-arrow:before {
  content: "\e90a";
}
.icon-left-arrow-1:before {
  content: "\e90b";
}
.icon-right-arrow-1:before {
  content: "\e90c";
}
.icon-up-and-down-arrows:before {
  content: "\e90d";
}
.icon-view:before {
  content: "\e90e";
}
.icon-star:before {
  content: "\e90f";
}
.icon-pointed-star:before {
  content: "\e910";
}
.icon-customer-testimonial:before {
  content: "\e911";
}
.icon-send:before {
  content: "\e912";
}
.icon-fast-delivery:before {
  content: "\e913";
}
.icon-customer-support:before {
  content: "\e914";
}
.icon-secure-payment:before {
  content: "\e915";
}
.icon-delivery-status:before {
  content: "\e916";
}
.icon-quotation:before {
  content: "\e917";
}
.icon-phone-call:before {
  content: "\e918";
}
.icon-user:before {
  content: "\e919";
}
.icon-text:before {
  content: "\e91a";
}
.icon-arrow-up:before {
  content: "\e91b";
}
.icon-home:before {
  content: "\e91c";
}
.icon-check:before {
  content: "\e91d";
}
.icon-open-mail:before {
  content: "\e91e";
}
.icon-location-pin:before {
  content: "\e91f";
}
.icon-list:before {
  content: "\e920";
}
.icon-categories:before {
  content: "\e921";
}
.icon-right:before {
  content: "\e922";
}
.icon-left:before {
  content: "\e923";
}
.icon-filter:before {
  content: "\e924";
}
.icon-increase:before {
  content: "\e925";
}
.icon-verified:before {
  content: "\e926";
}
.icon-plus:before {
  content: "\e927";
}
.icon-plus-1:before {
  content: "\e928";
}
.icon-minus:before {
  content: "\e929";
}
.icon-minus-1:before {
  content: "\e92a";
}
.icon-like:before {
  content: "\e92b";
}
.icon-dislike:before {
  content: "\e92c";
}
.icon-close:before {
  content: "\e92d";
}
.icon-visa .path1:before {
  content: "\e92e";
  color: rgb(60, 88, 191);
}
.icon-visa .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(41, 54, 136);
}
.icon-visa .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(60, 88, 191);
}
.icon-visa .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(41, 54, 136);
}
.icon-visa .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(60, 88, 191);
}
.icon-visa .path6:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(41, 54, 136);
}
.icon-visa .path7:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(60, 88, 191);
}
.icon-visa .path8:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(41, 54, 136);
}
.icon-visa .path9:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 188, 0);
}
.icon-visa .path10:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(247, 152, 29);
}
.icon-visa .path11:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(237, 124, 0);
}
.icon-visa .path12:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(5, 18, 68);
}
.icon-visa .path13:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(5, 18, 68);
}
.icon-visa .path14:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(5, 18, 68);
}
.icon-visa .path15:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(5, 18, 68);
}
.icon-email:before {
  content: "\e93d";
}
.icon-instagran:before {
  content: "\e93e";
}
.icon-menu1:before {
  content: "\e93f";
}
.icon-phone:before {
  content: "\e940";
}



.page-wrapper {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
    overflow: hidden;
}

::-webkit-input-placeholder {
    color: inherit;
    opacity: 1;
}

:-ms-input-placeholder {
    color: inherit;
    opacity: 1;
}

::-ms-input-placeholder {
    color: inherit;
    opacity: 1;
}

::placeholder {
    color: inherit;
    opacity: 1;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
    padding: 0;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol,
li {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    transition-delay: 0.1s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
    transition-property: all;
}

/* Form validation styles */
input:focus,
textarea:focus,
select:focus {
    border-color: #43c3ea;
    outline: none;
}

#contact-form input[type="text"].error {
    border-color: red;
}

#contact-form input[type="email"].error {
    border-color: red;
}

#contact-form select.error {
    border-color: red;
}

#contact-form textarea.error {
    border-color: red;
}

#contact-form label.error {
    display: none !important;
}


























